<!DOCTYPE html>
<html>
<head>
  <title>Simple Store</title>
</head>
<body>
  <h1>Welcome to the Store</h1>
  <% if (message) { %><p><%= message %></p><% } %>
  <ul>
    <% products.forEach(product => { %>
      <li>
        <strong><%= product.name %></strong> - <%= product.description %>
        <form action="/add-to-cart" method="POST" style="display:inline">
          <input type="hidden" name="productId" value="<%= product.id %>">
          <button type="submit">Add to Cart</button>
        </form>
      </li>
    <% }); %>
  </ul>
  <a href="/cart">Go to Cart</a>
</body>
</html>